<form>
    <input id="email" type="text" />
    <input id="password" type="password" />
    <button id="login">Login</button>
</form>

<h1>Times you've visited this page: <b>{{visitCount}}</b></h1>
<h1>My name is Hector and my favorite food is {{ favoriteFood }}</h1>
{{> userList}}
